beautifulsoup4
catboost
datasets
fonttools
frozenlist
graphviz
huggingface-hub
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
joblib
jupyter_client
jupyter_core
matplotlib
matplotlib-inline
mpmath
networkx
nltk
numpy==1.26.4
optuna
packaging
pandas
pillow
plotly
prompt_toolkit
psutil
pyarrow
PyYAML
regex
requests
scikit-learn
scipy
seaborn
sentencepiece
tokenizers
torch
torchvision
tqdm
transformers
urllib3
wheel
xgboost
yarl
zipp